@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C0C0C0;  
}

.pic {
  display: block;
  width: 100%;
  border-radius: .5rem 0 0 0;
}

.image {
  position: relative;
  width: 100%;
}

.mainwrap {
  background-color: white;
  border-radius: .5rem; 
  margin-bottom: inherit;
  padding-bottom: 6rem;
}

.quote {
  font-family: Georgia, serif;
  font-style: italic;
  position: absolute;
  top: 150px;
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.line {  
  float: left;
  width: 33.33%;
  box-sizing: inherit;
  border-left: thin solid #C0C0C0; 
}

.title {
  font-family: sans-serif;
  font-size: 18px;
  padding: 0 1rem;
}

.category {
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #959595;
  float: left;
  overflow: hidden;
  padding: 0 6rem 1rem 1rem;
  width: 33.33%;
}

.content {
  padding: 1rem 0 0 1rem; 
  position: fixed;
}



