@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C0C0C0;  
}

img {
  display: block;
  width: 100%;
  border-radius: .5rem 0 0 0;
}

.image{
  position: relative;
  width: 100%;
    
}

.mainwrap {
  background-color: white;
  border-radius: .5rem;  
}

.quote {
  font-family: Georgia, serif;
  font-style: italic;
  position: absolute;
  top: 200px;
  color: white;
  width: 100%;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.title {
  font-family: sans-serif;
  font-size: 18px;
  padding: 1rem;
}

.category {
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: grey;
  float: inherit;
  padding: 1rem;
  width: 30%;
}

.content {
  float: left;
  clear: left;

}
